
body{
    background-color: black;
}
.header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.title{
    font-weight: 500;
    font-size: large;
    color: white;
    margin-top: 1rem;
}
.calorie{
    font-weight: 500;
    font-size: medium;
    color: white;
}
.card{
    margin: 1rem 0.5rem;
    padding: 15px 15px;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    background-color: black;
}
.card img{
    width: 300px;
    border-radius: 10px;
    border: 1px solid gray;
}
.card button{
    margin-left: 2rem;
    outline: none;
    border: none;
    box-shadow: 0 0 5px gray;
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: rgb(95, 95, 95);
    padding: 0.5rem;
    border-radius: 5px;
}
.card button:hover{
    color: rgb(95, 95, 95);
    background-color: rgb(187, 181, 181);
}
input::placeholder{
    color: rgb(70, 70, 70);
}
.header input{
    margin-top: 2rem;
    padding-left: 1rem;
    height: 4rem;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
::selection{
    background-color: rgb(187, 181, 181);
    color: black;
}
@media screen and (max-width:600px){
    .header input{
        width: 80%;
    }
}